.container {
    position: relative;
}
#overlay {
    position: absolute;
    color: #043d18;
    font-family: "Times New Roman";
    text-shadow: -1px 0 #397a40, 0 1px #397a40, 1px 0 #397a40, 0 -1px #397a40;
    font-size: 26pt;
    left: 10px;
    top: 10px;
}
#loading{
    position: absolute;
    text-align: center;
}
.spinner {
    width: 300px;
    height: 300px;
    position: relative;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: darkred;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

#loading-progress {
    text-align: center;
    color: darkred;
    font-family: "Times";
    text-shadow: -1px 0 #397a40, 0 1px #397a40, 1px 0 #397a40, 0 -1px #397a40;
    font-size: 60pt;
}
.loading-div{
    margin: 0 auto;
}
#Scene{
    position:absolute;
}
body{
    padding: 0 auto;
    margin: 4px auto;
}

