#Scene{
    float:left;
    border: 1px #777777 solid;
    height: 65%;
    width: 60%;
}
#Editor-Scene{
    width: 100%;
    height: 60%;
}
body{
    background-color: #606365;
}
.custom-container-container {
    position: relative;
    background-color: #606365;
    padding-left: 1%;
}

#wrapper{
    background-color: #434343;
}
.thumbnail {
    background: #434343;
    color: #434343;
    border: solid 1px #777777;
}
.button {
    background-color: #262626; /* Green */
    border: none;
    color: white;
    border-radius: 10%;
    padding: 1.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.add-your-shape-button {
    background-color: #262626;
    color: white;
    border: solid 1px #777777;
}
.add-your-shape-button:hover {
    background-color: #606365;
    color: white;
}

#overlay {
    position: absolute;
    color: #043d18;
    font-family: "Times New Roman";
    text-shadow: -1px 0 #397a40, 0 1px #397a40, 1px 0 #397a40, 0 -1px #397a40;
    font-size: 20pt;
    padding: 0.5%;

}
#loading{
    position: absolute;
    text-align: center;
}
.loading-div{
    margin: 0 auto;
}
.spinner {
    width: 300px;
    height: 300px;
    position: relative;
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: darkred;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
#loading-progress {
    text-align: center;
    color: darkred;
    font-family: "Times";
    text-shadow: -1px 0 #397a40, 0 1px #397a40, 1px 0 #397a40, 0 -1px #397a40;
    font-size: 60pt;
}



#bottom-menu{
    background-color: #434343;
    display: inline-block;
    overflow: scroll;
    float:left;
    clear: left;
    border: solid 1px #777777;
    width: 50%;
    height: 35%;
}
#preview-menu{
    background-color: #434343;
    width: 40%;
    height: 65%;
    float: left;
}
#light-control{
    border: 1px #777777 dashed;
    padding: 0.2%;
    margin: 0 2% 2% 2%;
    height:60%;
    width: 16%;
    float: left;
    border-radius: 5%;
}
#light-control p{
    text-align: center;
    color: white;
    margin-top:0;
    padding-top: 0;
}

#additional-menu{
    border: 1px #777777 dashed;
    padding: 0.2%;
    margin: 0 2% 2% 2%;
    height:60%;
    width: 16%;
    float: right;
    border-radius: 5%;
}
#additional-menu p {
    text-align: center;
    color: white;
    margin-top:0;
    padding-top: 0;
}
#opacity{
    float: right;
    border: 1px #777777 dashed;
    border-radius: 5%;

    margin: 1% 1% 1% 1%;
    padding: 0 2% 2% 2%;
}
#opacity p{
    text-align: center;
    color: white;
    margin-top:0;
    padding-top: 0;
}
.rs-bg-color{
    background: #434343;
}
.rs-range-color {
    background: darkred;
}
.rs-border{
    border: none;
}
.rs-handle{
    background: #2364ce;
}

#color-picker{
    border: 1px #777777 dashed;
    border-radius: 5%;
    width: 100%;
    float: left;
    margin-top: 0.5%;
    padding: 2% 2% 2% 19%;
    display: none;
}
#texture-picker{
    border: 1px #777777 dashed;
    border-radius: 5%;
    width: 100%;
    height: 26.5%;
    float: left;
    margin-top: 0.5%;
    padding: 2%;
    display: none;
    overflow: scroll;
}
#color-picker p {
    color: white;
}
#color-picker p input {
    margin: 10%;
    padding: 10%;
}
#RC .slider-selection {
    background: #FF8282;
}
#RC .slider-handle {
    background: red;
}
#GC .slider-selection {
    background: #428041;
}
#GC .slider-handle {
    background: green;
}
#BC .slider-selection {
    background: #8283FF;
}
#BC .slider-handle {
    border-bottom-color: blue;
}
#combined .slider-selection{
    background: #535CA3;
    width: 200%;
    margin-left: -50%;
}
#combined .slider-handle{
    background: #7C8BFF;
    width: 100%;
    height: 10%;
    margin-left: -14%;
}
#combined{
    width: 40%;
    margin-left: 35%;
}
#R, #G, #B {
    width: 20%;
}
.center {
    margin: auto;
    width: 60%;
    border: 1px solid #777777;
}
#filler{
    width: 50%;
    height: 20%;
}
.navbar{
    margin-top: 0;
}
